/* frontend/src/index.css */
body {
    margin: 0;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    background-color: #121212; /* Dark background */
    color: #39FF14; /* Neon green text */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #1a1a1a; /* Slightly lighter dark background */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #39FF14; /* Neon green text */
    border-bottom: 2px solid #39FF14; /* Neon green border */
  }

  button, a {
    color: #39FF14; /* Neon green for interactive elements */
    transition: color 0.3s ease;
  }

  button:hover, a:hover {
    color: #FF5733; /* Vibrant accent color on hover */
  }